extends layout

block content
  h1= title
  p Welcome to #{title}
  p Would make more sense if it wasn't node!!!!
  img(src="https://cdn3.iconfinder.com/data/icons/smileys-people-smiley-essential/48/v-51-512.png", alt=":(")